<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- grant run time permission for foreground service explicitly that normally user grants -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

</manifest>